:root {
  --section-color: #616161;
  --white-color: #F8F8FF;
  --header-color: #444649;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  font-size: 8pt;
}

section {
  padding: 70px 30px;
  color: var(--section-color);
  position: relative;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.header {
  font-size: 32px;
  font-weight: normal;
  position: relative;
  color: var(--header-color);
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

#input-field{
  margin-bottom: 10px;
  border: 1px solid #929292;
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
}

#color-select {
  display: flex;
  padding: 5px 10px 0 0;
}

.color-box {
  border: solid 1px #929292;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  margin-left: 5px;
  cursor: pointer;
}

.btn-container{
  align-self: end;
  display: flex;
  gap:10px;
  margin-top: 10px;
}

.btn{
  font-size: 15px;
  background-color: inherit;
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: .2s;
}

.btn:hover{
  background-color: var(--btn-color);
  color: var(--white-color);
}

#btn-add{
  --btn-color: #49b1fb;
}

#btn-delete{
  --btn-color: #f45454;
}

.notes{
  margin-top: 20px;
}

.note{
  border:1px solid #929292;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.note-text{
  font-size: 14px;
  margin: 0;
  padding: 25px;
  text-align: justify;
}

.card-columns{
  /*column-count: 3;*/
}

@media only screen and (max-width: 800px){
  .card-columns{
    /*columns: 2;*/
  }
}

@media only screen and (max-width: 600px){
  .card-columns{
    /*columns: 1;*/
  }
}